*{margin: 0; padding: 0;}

body{
background-color: #A58B80;
padding: 20;
text-align: center;
}
.portrait{
    border-radius: 400px;
    width: 400px;
    height: 400px;
    margin-top: -60%;
    
}
.SideBar{
position:fixed;
top: 0;
left: 0;
bottom: 0;
width: 350px;
background-color:#142D2B;
padding: 5%;
overflow-y: auto;
z-index: 999;
}

.menu{
 list-style: none;
 margin: 0;
 padding: 0;
 margin-top: 50%;

}
.menu li{
font-family: system-ui;
margin-bottom: 80px;
font-size: 85px;


}

.menu a{
    
    display:inline-block;

    width:400px;
    height:100px;
    padding: 25px;
    border-radius: 10px 10px 100px 10px;
    text-decoration: none;
    color:#80BAB4;

}
.menu a:hover{
    background-color: #A58B80;
    color:#83d1c7;
}

.title{
   
    font-family: system-ui;
    text-align:center;
    text-decoration: underline;
    text-decoration-color: #4e3e13;
    text-decoration-thickness: 7px;
    color: #83d1c7;
    font-size: 180px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}
.title{
    margin-left: 20%;
}
.Eu{
    margin-left: 36%;
    margin-right: auto;
    width: 29em;
    background-color: #887268;
    text-align: center;
    border-radius: 10px 10px 100px 10px;
    font-family: system-ui;
    font-size:85px;
    color:#83d1c7;
    font-weight: bold;
}
.Eu{
    border: 0px solid #4e3e13;
    padding: 5px;
}

.slideShow{
        position: relative;
        width: 45%;
        height: 600px;
        margin-left: 37%;
        margin-top: 5%;
        border-radius: 100px 10px 100px 10px;
        background-color: #887268;
        overflow: hidden;
}
.slideShow img{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    animation: fade 4s infinite;
}
.slideShow a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
@keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    53% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
